<div id="newQuote">
<app-new-quote></app-new-quote>

<div class="container">
   <hr>
   <h2><span style="padding: 5px; border-bottom: 2px solid wheat;">Your Posted Quotes </span></h2>
      <div *ngFor ='let quote of quotes; let i = index' id='postedQuotes'>
         <span class="index">{{ quote.id }}</span> <br><br>
         "<span class="quote">{{quote.actQuote}}</span>" <br>

         <img class="reaction" src="../../assets/thumbsup.png" height="20px" width="20px">
         <img class="reaction" src="../../assets/thumbsdown.png" height="20px" width="20px"><br>
         <div class="mouseClick">
            <img (click)='toggleDetails(i)' class="mouse" src="../../assets/mouse_click.png" height="25px" width="10px">
         </div>
         <app-quote-details *ngIf='quote.additionalInfo' [quotes]='quote' ></app-quote-details>
      </div>

   <hr>
</div>
</div>

